<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-screen bg-zinc-800 grid place-items-center p-10">
    <div>
      <h1 class="text-2xl text-white mb-5 text-center">Create Account</h1>
      <form action="/register" method="post" class="text-white gap-4 flex flex-col">
        <input class="px-5 py-2 rounded-lg bg-zinc-700" type="text" placeholder="Username" name="username" />
        <input class="px-5 py-2 rounded-lg bg-zinc-700" type="text" placeholder="Name" name="name" />
        <input class="px-5 py-2 rounded-lg bg-zinc-700" type="number" placeholder="Age" name="age" />
        <input class="px-5 py-2 rounded-lg bg-zinc-700" type="email" placeholder="Email" name="email" />
        <input class="px-5 py-2 rounded-lg bg-zinc-700" type="password" placeholder="Password" name="password" />
        <input class="px-5 py-2 rounded-lg bg-blue-800 cursor-pointer hover:bg-blue-700 transition" type="submit" value="Create" />
      </form>
    </div>
  </body>
</html>